@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.text-outline-green-header {
  -webkit-text-stroke: 1px #434a50; /* Stroke width and color */
  color: #cfd6b8; /* Fill the text with transparency */
}

@layer base {
  h1 {
    @apply text-green-dark text-2xl md:text-4xl font-bold p-4;
  }

  h2 {
    @apply text-green text-xl md:text-2xl font-bold p-4;
  }
  h3 {
    @apply text-brown text-lg md:text-xl font-bold p-4;
  }

  p {
    @apply text-brown-dark text-base md:text-lg p-4;
  }
}
